<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit "Add new dose" %>
  <% end %>
  <%= link_to 'Back', cocktails_path %>
</div>
